/*
 * -------------------------------------------------
 *  luslab/distiller-nf Nextflow config file
 * -------------------------------------------------
 */

includeConfig 'configs/luslab-base.config'

manifest {
    name = 'luslab/distiller-nf'
    homePage = 'https://github.com/luslab/distiller-nf'
    mainScript = 'main.nf'
    description = 'Nextflow analysis pipeline for HiC data'
}

// docker-hub image is used both with docker and singularity
// replace with your local image when needed
process.container = "luslab/distiller-env:latest"
process.shell = ['/bin/bash', '-uexo','pipefail']

// Use 'params' to provide parameters accessible inside the main script distiller.nf parameters from
// the params section can be modified a command line arguments:
// nextflow run distiller --compression_format gz --config_dir /shared/path
params {
    // General
    append_outdir = true // Append timestamp to results folder
    tracedir = "${params.outdir}/_pipeline_info" // Trace directy default location

    // Logging options
    monochrome_logs = false

    // Computing options - defaults only
    verbose = false

    //Set config path
    multiqc_config="$baseDir/assets/multiqc_config.yml"

    // Boilerplate options
    enable_conda               = false
    publish_dir_mode           = 'copy'
    singularity_pull_docker_container = true

    // internal compression format (gz, lz4, ...)
    // used for storing intermediate results
    compression_format = 'gz'
    container_cache_dir = './'
    custom_config = 'custom.config'
}

// docker or singularity context is
// described in the scope of profiles
// Developmental code should specify :dev

profiles {
    docker {
        docker.enabled = true 
    }
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    crick {
        includeConfig "configs/crick.config"
    }
    standard {
        includeConfig "configs/local.config"
    }
    cluster {
        includeConfig "configs/cluster.config"
    }
    custom {
         includeConfig "${params.custom_config}" 
    }
}


timeline {
    enabled = true
    file = "./pipeline_info/timeline.html"
}
trace {
    enabled = true
    file = "./pipeline_info/trace.txt"
}
report {
    enabled = true
    file = "./pipeline_info/report.html"
}
